.thumb {
    margin: auto;
}

.thumbContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.itemText {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: center;
}

.item {
    display: inline-block;
}

#previewContainer {
    position: absolute;
    pointer-events: none;
}

#infoText {
    text-align: center;
    word-wrap: break-word;
    margin: auto;
    width: 90%;
}

.infoHide {
    background-color: rgb(91, 233, 197);
    position: fixed;
    width: 300px;
    height: 170px;
    bottom: 0px;
    right: 0px;
    display: flex;
    visibility: hidden;
    transition: opacity 3s ease 4s, visibility 7s;
    opacity: 0;
}

.infoHide:hover, .infoShow {
    visibility: visible;
    transition: opacity 0.1s, visibility 0s;
    opacity: 100;
}