html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.thumb {
    margin: auto;
}

.thumbContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.itemText {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: center;
}

.item {
    display: inline-block;
}

#previewContainer {
    position: absolute;
    pointer-events: none;
}

#infoText {
    text-align: center;
    word-wrap: break-word;
    margin: auto;
    width: 90%;
}

#infoContainer {
    position: fixed;
    width: 300px;
    height: 170px;
    bottom: 0px;
    right: 0px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-color: rgb(53, 48, 48);
    border: 5px;
    border-style: outset;
}