.infoHide {
    visibility: hidden;
    transition: opacity 1s ease 2s, visibility 3s;
    opacity: 0;
}

.infoHide:hover, .infoShow {
    visibility: visible;
    transition: opacity 0.1s, visibility 0s;
    opacity: 100;
}